/* Typography Styles */
h1 {}
h2 {
  text-align: center;
  font-size: 18px;
  color: #c9c9c9;
}
h3 {
  color: #ebebeb;
  font-size: 16px;
  text-decoration: underline;
  margin: 10px 0;
  padding: 0;
}

input:hover {cursor: pointer;}


p, .checkbox, .radio, .checkbox label, .radio label, ul, ol{margin: 0; padding: 0;}
label {display: inline;}

/* Toggle Styles */
body {
  padding-top: 51px;
}

#wrapper {
  padding-left: 0;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #222;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  list-style: none;
}

.filter {
  position: relative;
  margin: 12px 0px;
}

.filter a.checkbox{
  text-indent: 20px;
}

.filter a, .filter p {
  display: block;
  text-decoration: none;
  color: #999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav li a ul li a {
  padding-left: 10px;
}

.sidebar-nav i.fa {float: right;}

.features-set {
  margin: 5px 15px;
  padding: 0px 15px;
}

.dropdown-toggle, .dropdown-menu {
  width: 100%;
}

.green {
  border: 1px solid;
  border-color: green;
  background-color: green;
}

.blue {
  border: 2px solid blue;
  border-color: blue;
  background-color: blue;
}

.features-set.inactive { opacity: 0.5; }

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
    padding-bottom: 100px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* Top Navigation */

.top-nav {
  padding: 0 15px;
}

.top-nav>li {
  display: inline-block;
  float: left;
}

.top-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
  color: #fff;
  background-color: #000;
}

/* Table Styles */
.nav-tabs {border-bottom: 0;}

.table thead tr th {border-bottom: 3px solid #000;}
