/* Typography Styles */
body {color: #fff; padding-top: 51px; background-color: rgb(44, 62, 80);}

h1 {}
h2 {
  text-align: center;
  font-size: 18px;
}
h3 {
  font-size: 16px;
  text-decoration: underline;
  margin: 10px 0;
  padding: 0;
}

input:hover {cursor: pointer;}


p, .checkbox, .radio, .checkbox label, .radio label, ul, ol{margin: 0; padding: 0;}
label {display: inline;}

.btn {
  border: none;
  text-shadow: none;
  filter: none;
  background-image: none;
}

.btn-default {
  background-color: rgb(52, 73, 94);
}

.btn:hover {
  border: none;
  text-shadow: none;
  background-image: none;
}

.filter-buttons .btn {
  width: 45%;
}

/* Toggle Styles */
.navbar-fixed-top{
  background: rgb(52, 73, 94);
  border: 1px solid rgba(0,0,0,0.6);
}

#wrapper {
  padding-left: 0;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background-color: rgb(34, 49, 63);
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  list-style: none;
}

.filter {
  position: relative;
  margin: 12px 0px;
}

.filter a.checkbox{
  text-indent: 20px;
}

.filter a, .filter p {
  display: block;
  text-decoration: none;
}

.filter a:hover {
  text-decoration: none;
  color: #fff;
}

.filter li a:active,
.filter li a:focus {
  text-decoration: none;
}

.sidebar-nav li a ul li a {
  padding-left: 10px;
}

.sidebar-nav i.fa {float: right;}

.features-set {
  margin: 5px 15px;
  padding: 5px 15px;
}

.dropdown-toggle, .dropdown-menu {
  width: 100%;
}

.features-set.active { opacity: 1; }

.alert-info {
  background-color: rgb(52, 152, 219);
  border: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 270px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 270px;
    padding-bottom: 200px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* Top Navigation */

.top-nav {
  padding: 0 15px;
}

.top-nav>li {
  display: inline-block;
  float: left;
}

.top-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
  color: rgb(44, 62, 80);
  background-color: rgb(236, 240, 241);
}

/* Table Styles */
.nav-tabs {border-bottom: 0;}

.table-hover>tbody>tr:hover {background-color: rgb(44, 62, 80);}
.table-responsive .table {background-color: rgb(52, 73, 94)}
.table-responsive .table thead th{text-align: center;}


.nav-tabs li {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  margin-right: 2px;
  opacity: 0.8;
}

.nav-tabs li:hover,
.nav-tabs li:active,
.nav-tabs li:focus {
  opacity: 1;
  text-decoration: underline;
}

.nav-tabs>li>a {
  border: none;
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:active,
.nav-tabs>li>a:focus {
  border-color: transparent;
  background-color: transparent;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus{
  cursor: default;
  background-color: transparent;
  border: none;
}

.nav-tabs>li.active {
  opacity: 1;
}

/* Color box */
.box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.red {
  background-color: rgb(192, 57, 43);
}
.orange {
  background-color: rgb(211, 84, 0);
}
.yellow {
  background-color: rgb(243, 156, 18);
}
.green {
  background-color: rgb(22, 160, 133);
}
.blue {
  background-color: rgb(41, 128, 185)
}
.purple {
  background-color: rgb(142, 68, 173);
}
.grey {
  background-color: rgb(189, 195, 199);
}

/* ABOUT PAGE */
.member .photo {
  max-width: 270px;
  max-height: 200px;

.alert-danger {
  background-color: rgb(231, 76, 60);
}

.alert-info {
  background-color: rgb(52, 152, 219);
}
